/* 
    Document   : login
    Created on : 4 mai 2013, 08:51:08
    Author     : Jean
    Description:
        Purpose of the stylesheet follows.
*/

table
{
	margin-left: 90px;
	margin-top: 40px;
	margin-bottom: 40px;
}

td
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 30px;
}

#login_alert
{
	font-family: Arial, sans-serif;
	font-size: 13px;
	position: absolute;
	top: 45px;
	width: 100%;
	text-align: center;
	display: none;
	color: #880014;
	font-weight: bold;
}
